body {
    grid-template-columns: 1fr min(80rem, 90%) 1fr;
}
h1 {
    margin-bottom: 0;
    margin-top: 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

article.controls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
}

article.controls > section {
    margin: 0;
    padding: 1rem 0;
}
section.spectrogram canvas.spectro {
    height: 200px;
    width: 100%;
    border: none;
}

article.controls > section {
    border-bottom: none;
}

section.selects {
    border: none;
    margin: 1em;
}
section.selects label {
    display: inline-block;
}
section.effects {
    margin-bottom: 0;
}

section.effects fieldset:first-child {
    background-color: #8d4743;
}
section.effects fieldset:nth-child(2) {
    background-color: #999aa0;
}
section.effects fieldset:nth-child(3) {
    background-color: #0082ad;
}

fieldset.effect {
    margin-bottom: 0.5em;
    padding: 0.25em;
    border: none;
}
fieldset.effect legend {
    line-height: 0.5em;
}
fieldset.effect select {
    float: left;
    margin-top: 0em;
    width: 35%;
    height: 2.25em;
}
fieldset.effect input[type="range"] {
    float: right;
    margin-top: 0em;
    height: 2.25em;
    width: 60%;
}

label.volslider {
    writing-mode: vertical-rl;
    float: right;
    position: relative;
}
#vol {
    writing-mode: vertical-lr;
    direction: rtl;
    position: absolute;
    left: -1.5em;
    height: 5em;
}

.keys {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 0;
    margin: 0;
    border: none;
}
.keys > .key {
    height: 20em;
    margin: 5px;
    border: 1px solid var(--text);
    border-radius: 0 0 10px 10px;
    background-color: navy;
    background-color: #3d3e3d;
}

.keys > .key:hover,
.keys > .key.on {
    background-color: cornflowerblue;
    background-color: #ccc9c0;
}
